.index {
  .project-details {
    &:hover {
      cursor: pointer;
    }
  }
  #header-banner {
    background-color: transparent;
  }
  .alert {
    margin-bottom: 0;
  }
  .featured-img {
    min-height: 250px;
    position: relative;
    background-size: cover;
    .project-hover-tools {
      width: 100%;
      top: 45%;
    }
  }
}

@media screen and (max-width: 768px) {
  .index {
    #header-banner {
      background: asset-url("2104_baybrook/front.jpg") no-repeat;
      background-color: #ebebeb;
    }
  }
}
