.index {
  .project-details {
    &:hover {
      cursor: pointer;
    }
  }
  .alert {
    margin-bottom: 0;
  }
  .featured-img {
    min-height: 250px;
    position: relative;
    background-size: cover;
    .project-hover-tools {
      width: 100%;
      top: 45%;
    }
  }
}
