.index {
  .project-details {
    &:hover {
      cursor: pointer;
    }
  }
  #header-banner {
    background-color: transparent;
  }
  .alert {
    margin-bottom: 0;
  }
  .featured-img {
    min-height: 250px;
    position: relative;
    background-size: cover;
    .project-hover-tools {
      width: 100%;
      top: 45%;
    }
  }
  .slide-img {
    min-height: 200px;
    height: auto;
    max-width: 100%;
    display: block;
  }
  .row.portfolio {
    margin-left: -15px;
    margin-right: -15px;
  }
}

@media screen and (max-width: 768px) {
  .index {
    #header-banner {
      background: asset-url("2104_baybrook/front.jpg") no-repeat;
      background-color: #ebebeb;
    }
    .project:hover {
      img {
        opacity: 1;
      }
    }
    .swiper-slide {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      min-height: 250px;
    }
  }
}
