<!-- header-banner -->
<div id="header-banner">
    <div class="banner-content single-page text-center">
        <div class="banner-info">
            <h1>CONTACT US</h1>
            <p>Get in touch with Us.</p>
        </div><!-- / banner-info -->
    </div><!-- / banner-content -->
</div>
<!-- / header-banner -->

<div id="page-content" class="container">
<div class="row">
  <div class="col-sm-4 contact-info text-center space-bottom">
      <div class="contact-icon">
          <i class="lnr lnr-envelope"></i>
      </div>
      <h5>EMAIL</h5>
      <p>Office: <a>amoore@ms-app.com</a></p>
  </div><!-- / contact-info -->
    <div class="col-sm-4 contact-info text-center space-bottom">
        <div class="contact-icon">
            <i class="lnr lnr-smartphone"></i>
        </div>
        <h5>PHONE</h5>
        <p>Office: <a href="tel:+5738741207">(573)-874-1207 </a></p>
    </div><!-- / contact-info -->
    <div class="col-sm-4 contact-info text-center space-bottom">
        <div class="contact-icon">
            <i class="lnr lnr-printer"></i>
        </div>
        <h5>FAX</h5>
        <p>Office: <a>(573)-449-2791</a></p>
    </div><!-- / fcontact-info -->

</div><!-- / row -->

<div class="row contact-area">


    <div class="col-sm-8 contact-form-area">
        <!-- contact form 1col -->
        <div id="contact-form">
            <form id="contactForm" data-toggle="validator">
                <div class="form-group">
                    <input type="text" class="form-control" id="name" placeholder="FULL NAME" required>
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="email" placeholder="EMAIL" required>
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <textarea id="message" class="form-control" rows="5" placeholder="MESSAGE" required></textarea>
                <div class="help-block with-errors"></div>
                </div>
                <button type="submit" id="form-submit" class="btn btn-md btn-primary-filled btn-form-submit">SUBMIT FORM</button>
                <div id="msgSubmit" class="h3 text-center hidden"></div>
                <div class="clearfix"></div>
            </form>
        </div><!-- / contact form 1col -->
    </div><!-- / col-sm-6 -->
</div><!-- / contact-area -->

</div><!-- / container -->

<!-- / content -->
