
<div class="site-width content">
<h1>Frequently Asked Questions</h1>



<div id="accordion">
  <% @faqs.each_with_index do |faq, i| %>
    <div class="accordion-toggle"><p><%= faq.question %></p>
      <div class="lnr lnr-chevron-down"></div>
    </div>
    <div class="accordion-content">
      <p><%= raw faq.answer %></p>
    </div>
  <% end %>
</div>
</div>
