.nav {
  margin-top: 10px;
  .btn.apply {
    line-height: 30px;
    color: #000;
    margin-top: 22px;
  }
  .btn.apply:hover {
    background-color: #fff !important;
    color: #c39d6d !important;
    border: 2px solid #ad8b60 !important;
  }
}
.navbar-brand {
  padding: 0;
  margin: 0;
  color: #111111 !important;
  margin-top: 10px;
  .logo {
    max-height: none;
    height: 75px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  .nav .btn.apply {
    margin: 0;
    line-height: 50px !important;
    border: none;
    background: #fff;
  }
  .nav li a {
    font-size: 15px !important;
  }
  .nav li.active a {
    border: none !important;
  }
}
