<div class="col-xs-12">
  <h1>Editing <%= @property.address %></h1>
</div>

<%= render 'form', property: @property %>
<div class="col-xs-12">
  <%= link_to 'View', @property, class: "btn btn-primary" %>
  <%= link_to 'All Properties', properties_path, class: 'btn btn-default' %>
</div>
