<h1>Editing <%= @property.address %></h1>

<%= render 'form', property: @property %>

  <div class="col-xs-12 col-sm-4">
    <%= link_to 'View', @property, class: "btn btn-primary" %>
  </div>
  <div class="col-xs-12 col-sm-4">
    <%= link_to 'All Properties', properties_path, class: 'btn btn-default' %>
  </div>
