<div class="row">
  <div class="col-sm-4 contact-info text-center space-bottom">
      <div class="contact-icon">
          <i class="lnr lnr-envelope"></i>
      </div>
      <h5>EMAIL</h5>
      <p>Office: <a>amoore@ms-app.com</a></p>
  </div><!-- / contact-info -->
    <div class="col-sm-4 contact-info text-center space-bottom">
        <div class="contact-icon">
            <i class="lnr lnr-smartphone"></i>
        </div>
        <h5>PHONE</h5>
        <p>Office: <a href="tel:+5738195450">(573) 819-5450</a></p>
    </div><!-- / contact-info -->
    <div class="col-sm-4 contact-info text-center space-bottom">
        <div class="contact-icon">
            <i class="lnr lnr-printer"></i>
        </div>
        <h5>FAX</h5>
        <p>Office: <a>(573)-449-2791</a></p>
    </div><!-- / .contact-info -->

</div><!-- / row -->
