    <!-- footer -->

    <footer>
      <div class="site-width">

            <p class="footer-info">© <%= Time.current.year %> Moore Properties
            </p>

      </div>

    </footer>
    <!-- / footer -->
