    <!-- footer -->

    <footer>
      <div class="site-width">
            <p class="footer-info text-center">© <%= Time.current.year %> Moore Properties | Columbia, MO
            </p>
      </div>

    </footer>
    <!-- / footer -->
