    <!-- footer -->
    <footer>
        <div class="container">
            <p class="footer-info">© <%= Time.current.year %> Moore Properties 
</p>
        </div><!-- / container -->
    </footer>
    <!-- / footer -->
