/* line 1, /Users/nathan.moore/Sites/moore-rentals/app/assets/stylesheets/admin/custom.scss */
.site-width {
  max-width: 1195px;
  margin: 0 auto;
  padding: 0 15px;
}

/* line 7, /Users/nathan.moore/Sites/moore-rentals/app/assets/stylesheets/admin/custom.scss */
h1 {
  margin-bottom: 40px;
}

/* line 11, /Users/nathan.moore/Sites/moore-rentals/app/assets/stylesheets/admin/custom.scss */
footer {
  margin-top: 50px;
}

/* line 15, /Users/nathan.moore/Sites/moore-rentals/app/assets/stylesheets/admin/custom.scss */
.btn input {
  background: transparent;
  border: none;
}

/* line 20, /Users/nathan.moore/Sites/moore-rentals/app/assets/stylesheets/admin/custom.scss */
input, textarea {
  width: 100%;
  min-width: 300px;
}

/* line 25, /Users/nathan.moore/Sites/moore-rentals/app/assets/stylesheets/admin/custom.scss */
textarea {
  min-height: 100px;
}

/* line 30, /Users/nathan.moore/Sites/moore-rentals/app/assets/stylesheets/admin/custom.scss */
.actions {
  padding: 20px 0;
}

/* line 35, /Users/nathan.moore/Sites/moore-rentals/app/assets/stylesheets/admin/custom.scss */
.input-wrapper div {
  margin: 10px 0;
}

/* line 40, /Users/nathan.moore/Sites/moore-rentals/app/assets/stylesheets/admin/custom.scss */
.destroy-img {
  display: block;
  margin: 0 auto;
}

/* line 46, /Users/nathan.moore/Sites/moore-rentals/app/assets/stylesheets/admin/custom.scss */
.user_remember_me input {
  width: 30px;
  min-width: initial;
}

@media screen and (max-width: 768px) {
  /* line 53, /Users/nathan.moore/Sites/moore-rentals/app/assets/stylesheets/admin/custom.scss */
  .hidden-mobile {
    display: none;
  }
}
