.site-width {
  max-width: 1195px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}

h1 {
  margin-bottom: 40px;
}

footer {
  margin-top: 100px;
  height: 50px;
}

.main-content {
  min-height: 70vh;
}

.btn input {
  background: transparent;
  border: none;
}

.new-item-btn {
  position: absolute;
  right: 0;
  top: 0;
}

input, textarea {
  width: 100%;
  min-width: 300px;
}

textarea {
  min-height: 100px;
}


.actions {
  padding: 20px 0;
}

.input-wrapper {
  div {
    margin: 10px 0;
  }
}

.no-wrap {
  text-align: right;
  white-space: pre;
}

.destroy-img {
  display: block;
  margin: 0 auto;
}

.user_remember_me {
  input {
    width: 30px;
    min-width: initial;
  }
}

.pages {
  table {
    .btn {
      float: right;
    }
  }
}

@media screen and (max-width: 768px) {
  .hidden-mobile {
    display: none;
  }
}
