.site-width {
  max-width: 1195px;
  margin: 0 auto;
  padding: 0 15px;
}

h1 {
  margin-bottom: 40px;
}

footer {
  margin-top: 50px;
}

.btn input {
  background: transparent;
  border: none;
}

input, textarea {
  width: 100%;
  min-width: 300px;
}

textarea {
  min-height: 100px;
}


.actions {
  padding: 20px 0;
}

.input-wrapper {
  div {
    margin: 10px 0;
  }
}

.destroy-img {
  display: block;
  margin: 0 auto;
}

.user_remember_me {
  input {
    width: 30px;
    min-width: initial;
  }
}

@media screen and (max-width: 768px) {
  .hidden-mobile {
    display: none;
  }
}
